p {
    margin: 10px 0 10px 10px;

}

div.colors {
    display: grid;
    position: relative;
    place-content: center;
    grid-template-columns: repeat(auto-fit, 50px);
}

input {
    display: block;
    z-index: 3;
    position: absolute;
    right: 3px;
    top: 3px;
}

label {
    position: relative;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

label > div {
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    width: 50px;
    border: 1px solid white;
    pointer-events: none;
}

