div {
    position: relative;
    display: flex;
    flex-direction: column;
}

label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: fit-content;
    padding: 2px 4px;
    background-color: white;
    pointer-events: none;
    transition: all 0.2s linear;
}

label.float {
    top: 1px;
    border: 1px solid black;
    color: black;
}

input {
    padding: 3px 8px;
    height: 40px;
    transition: all 0.3s ease-in-out;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input.float {
    padding: 15px 8px 2px;
}

input:focus {
    outline: none;
}
